.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {

}
.nav-list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  margin-right: 15px;
}